.roles {
  width: 100%;
}

.renderViewContent {
  padding-top: var(--spL);
  padding-bottom: var(--spL);
  gap: var(--spL);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.truncatedText {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.renderViewImage {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  font-size: 14px;
  color: var(--cWhiteV1);
  border-radius: 16px;
  padding: 12px;
}

.container > section {
  width: 100%;
  margin-top: 12px;
}

.container > section > div:nth-child(1) {
  display: flex;
  gap: 16px;
}

.container > section > div:nth-child(1) > div {
  flex: 1;
  background-color: var(--cHover);
  border-radius: 8px;
  padding: 8px 0px;
}

.container > section > div:nth-child(1) > div > p:nth-child(1) {
  text-align: center;
}

.container > section > div:nth-child(1) > div > p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cBlackV2);
}

.container > section > h2 {
  font-size: var(--sM);
  color: var(--cWhite);
  margin: var(--spM) 0px;
}

.reactionsSection {
  margin-top: 12px;
}

.reactionsSection > div:nth-child(1) {
  display: flex;
  gap: 16px;
  color: var(--cWhiteV1);
}

.reactionsSection > div:nth-child(1) > div {
  flex: 1;
  background-color: var(--cHover);
  border-radius: 8px;
  padding: 8px 0px;
}

.reactionsSection > div:nth-child(1) > div > div:nth-child(1) {
  text-align: center;
  color: var(--cWhiteV1);
}

.reactionsSection > div:nth-child(1) > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cWhiteV);
}

.reactionsSection > h2 {
  font-size: var(--sM);
  color: var(--cWhite);
  margin: var(--spM) 0px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--cWhite);
  margin: 0 0 16px 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contentTitle {
  color: var(--cWhite);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.contentDescription {
  color: var(--cWhiteV1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 100%;
}
