# Variables exposed to the browser at build time.
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DESCRIPTION=
NEXT_PUBLIC_APP_LOGO=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_LOGIN_USER=
NEXT_PUBLIC_APP_LOGIN_PASS=
NEXT_PUBLIC_AUTH_LOGIN=
NEXT_PUBLIC_AUTH_REGISTER=
NEXT_PUBLIC_AUTH_LOGOUT=
NEXT_PUBLIC_AUTH_IAM=
NEXT_PUBLIC_AUTH_SUCCESS=
NEXT_PUBLIC_PUSHER_K=
NEXT_PUBLIC_PUSHER_APP_ID=
NEXT_PUBLIC_PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_CLUSTER=
NEXT_PUBLIC_PUSHER_BEAMS_ID=
NEXT_PUBLIC_PUSHER_BEAMS_KEY=
NEXT_PUBLIC_PUSHER_BEAMS_INTEREST_PREFIX=
NEXT_PUBLIC_PUSHER_BEAMS_INTERESTS=
NEXT_PUBLIC_INSTANTDB_APP_ID=

NEXT_PUBLIC_INSTANTDB_APP_ADMIN_TOKEN=
