# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
# next.js
/.next/
/out/

*.log*

# production
/build
.env*
/.env.development
.env.production
# misc
.DS_Store
*.pem


# env files (can opt-in for committing if needed)
# .env*

# vercel
.vercel


.prettierrc

# typescript
*.tsbuildinfo
next-env.d.ts

#custom
.devdbrc
/.env.development
package-lock.json
/.env.development
/.env.production

WARP.md

# Ignore code scanner and editor settings
/.vscode/
/.scannerwork/

# env 
/.env.development