.container {
  /* min-width: 180px; */
  background-color: var(--cBlackV2);
  padding: var(--spM) var(--spS);
  border-radius: var(--bRadius);
 
  position: relative;
  border: 0.5px solid var(--cWhiteV1);
  gap: var(--spS);
  display: flex;
  flex-grow: 1;
  flex-basis: 0;

  & > div:nth-child(1) {
    flex-grow: 1;
    gap: var(--spS);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > p {
      color: var(--cWhiteV1);
      font-size: var(--sM);
      /* margin-bottom: var(--spS); */
      align-items: center;
      text-align: left;
      display: flex;
    }

    /* Estilos para el dato principal */
    .data {
      font-size: var(--sXl) !important;
      font-weight: var(--bSemibold);
      color: var(--cWhite);

      /* margin-top: var(--spS); */
    }

    @media (min-width: 768px) {
      .data {
        font-size: 14px;
      }
    }

    @media (min-width: 1440px) {
      .data {
        font-size: 2rem;
      }
    }
  }

  & > p:nth-child(2) {
    color: var(--cWhiteV1);
    font-size: var(--sXs);
  }
}

/* @media (min-width: 1024px) {
  .lgPadding {
    padding: 1.5rem;
  }
} */
.clickable {
  cursor: pointer;
}

.subtitle {
  font-size: 10px; /* text-[10px] */
  color: #a7a7a7;
  display: none; /* hidden por defecto */
}

/* En tablet, mostramos el subtítulo */
@media (min-width: 768px) {
  .subtitle {
    display: block;
  }
}

.iconArrowDown {
  display: inline-block;
  margin-left: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--sL);
  font-weight: var(--bRegular);
  color: var(--cWhiteV1);
  gap: 6px;
}
