
.container {
    background-color: var(--cBlackV2); 
    padding: var(--spL); 
    border-radius: var(--bRadiusS); 
    margin-bottom: var(--spS); 
    position: relative;
    & > div:nth-child(1){
        display: flex;
        justify-content: space-between;
    & > p {
        color: var(--cWhiteV1); 
        font-size: var(--sM);
        margin-bottom: var(--spS);
    };
    @media (min-width: 768px) {
       
              display: block;
            
          };
    @media (min-width: 1440px) {
        /* background-color: blue; */
              display: flex;
              justify-content: space-between;
            
          }      
    }





    & > p:nth-child(2) {
        color: var(--cWhiteV1);
        font-size: var(--sXs);
    }
  }
  

  @media (min-width: 1024px) {
    .lgPadding {
      padding: 1.5rem;
    }
  }
  

  .flexGrow {
    flex-grow: 1;
  }
  

  .clickable {
    cursor: pointer;
  }

  
  .subtitle {
    font-size: 10px; /* text-[10px] */
    color: #A7A7A7;
    display: none; /* hidden por defecto */
  }
  
  /* En tablet, mostramos el subtítulo */
  @media (min-width: 768px) {
    .subtitle {
      display: block;
    }
  }
  
  /* Estilos para el dato principal */
  .data {
    font-size: var(--sXl); 
    font-weight: 600;
    color: var(--cWhite); 
  }
  

  @media (min-width: 768px) {
    .data {
      font-size: 14px;
    }
  }
  

  @media (min-width: 1440px) {
    .data {
      font-size: 2rem;
    }
  }
  

  .iconArrowDown {
    display: inline-block;
    margin-left: 0.5rem;
  }
  