.users {
  position: relative;

  .title {
    font-size: var(--sXl);
    font-weight: 600;
    color: var(--cWhite);
    margin-bottom: 4px;
  }
  .subtitle {
    font-size: var(--sL);
    font-weight: 400;
    color: var(--cBlackV2);
  }
  .avatar {
    position: absolute;
    bottom: -60px;
    left: 24px;
  }
  .container {
    /* display: flex; */
    padding: 16px; 
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
    & > section {
      padding: 8px;
      background-color: var(--cBlackV1);
      border-radius: 8px;
      margin-top: 8px;
      
      & > div {
        display: flex;
        margin-bottom: 8px;
        font-size: var(--sL);
        font-size: var(--sM);
        & > p:nth-child(odd) {
          flex: 1;
          color: var(--cWhiteV1);
          
        }
        & > p:nth-child(even) {
          flex: 1;
          text-align: right;
          color: var(--cWhite);
        }
      }
    }
  }
}
.renderView {
 & > div {  
  /* background-color: blue; */
    display: flex; 
    padding: 16px; 
    gap:var(--spL);
    align-items: center;
    @media (max-width: 750px) {
      flex-direction: column;
    };
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spL);
      
    }
    & > section {
      padding: var(--spM);
      background-color: var(--cBlackV1);
      border-radius: 8px;
      
      width:500px;

      
      & > div {
        display: flex;
        margin-bottom: 16px;
        font-size: var(--sL);
        font-size: var(--sM);
        & > p:nth-child(odd) {
          flex: 1;
          color: var(--cWhiteV1);
          
        }
        & > p:nth-child(even) {
          flex: 1;
          text-align: right;
          color: var(--cWhite);
        }
      }
    }
  }
  
}
.fieldSet {
  width: 100%;
  /* background-color: aqua !important; */
  padding: var(--spM);
  display: flex;
  flex-direction: column;
  border-radius: var(--bRadiusS);
  gap: var(--spL);
  & > div {
    gap:var(--spL)
  }
  & > div:nth-child(1) > div:nth-child(1){
    color:var(--cWhite);
    font-size: var(--sL);
    font-weight: var(--bBold);
    margin-bottom: var(--spL);

  }
}