.toast {
  position: fixed;
  top: 25%;
  right: 0;
  margin: var(--spM);
  padding: var(--spM);
  /* background-color: var(--cWhite); */
  border-radius: var(--bRadius);
  /* color: var(--cBlack); */
  color: var(--cWhite);
  display: flex;
  align-items: center;
  gap: var(--spS);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  min-height: 48px;
  padding-right: 44px;
  z-index: 300;
  transition: all 1s ease-in-out;
  font-size: var(--sS);
  opacity: 0;
  transform: translateX(100%);
  & > div > p {
    font-weight: var(--bBold);
    font-size: var(--sS);
  }
  & > div.close {
    position: absolute;
    color: var(--cWhite);
    /* background-color: var(--cBlack);
    border-radius: 100%;
    padding: 4px; */

    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &.open {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 24px;
  min-height: 24px;
}
