/* Estilos originales - mantener sin cambios */
.tabsButton {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.tabsButton > button {
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 12px 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: var(--cWhiteV1);
  background-color: transparent;
  border: var(--bWidth) solid transparent;
  white-space: nowrap;
}

.tabsButton > button.selected {
  font-weight: 700;
  color: var(--cWhite);
  border: var(--bWidth) solid var(--cAccent);
  border-bottom-width: 0px;
  border-color: var(--cAccent);
  background-color: var(--cHoverBigSidebar);
}

.tabsButton > button > span {
  position: absolute;
  background-color: var(--cError);
  border-radius: 100%;
  top: -4px;
  right: 0;
  font-size: var(--sL);
  padding: 2.5px;
  width: 13px;
  height: 13px;
}

/* Nueva variación rounded - corregida */
.tabsButtonRounded {
  display: flex;
  gap: var(--spS);
  padding-bottom: 12px;

}

.buttonRounded {
  position: relative;
  border: var(--bWidth) solid transparent;
  background: var(--cBlackV1);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 12px 16px;
  border-radius: 10px; /* Borde completo redondeado */
  color: var(--cWhiteV1);

  white-space: nowrap;
  width: auto; /* Tamaño del contenido */
  flex: none; /* No expandir */
}

.selectedRounded {
  position: relative;
  border: var(--bWidth) solid var(--cAccent); /* Borde completo */
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 12px 40px;
  border-radius: 8px; /* Borde completo redondeado */
  color: var(--cWhite);
  background-color: var(--cHoverBigSidebar);
  white-space: nowrap;
  width: auto; /* Tamaño del contenido */
  flex: none; /* No expandir */
  font-weight: 700;
}

.buttonRounded > span,
.selectedRounded > span {
  position: absolute;
  background-color: var(--cError);
  border-radius: 100%;
  top: -4px;
  right: 0;
  font-size: var(--sL);
  padding: 2.5px;
  width: 13px;
  height: 13px;
}
