.widgetBase {
  background-color: #212529;
  border-radius: 16px;
  border: 0.5px solid #393c3f;
  padding: 12px 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--cWhite);
  margin-bottom: var(--spL);
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--cWhiteV1);
  margin-bottom: var(--spL);
}

.widgetBaseV1 {
  background-color: var(--cBlackV2);
  border: 0.5px solid var(--cWhiteV1);
  border-radius: var(--bRadius);
  padding: var(--spL);
  flex-grow: 1;
  flex-basis: 0;
}
