.container {
    width: 100%;
  }
  
  .title {
  
    font-size: var(--sXl);
    font-family: var(--fPrimary);
    font-weight: var(--bBold);
    
  }
  
  .subtitle {
    color: var(--cWhiteV1);
    font-size: var(--sLg);
    size: 20px;
    font-family: var(--fPrimary);
    font-weight: var(--bRegular);
  }