.renderView {
  &>div {
    &>section:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &>div:nth-child(2) {
        margin-bottom: var(--spL);
        margin-top: var(--spS);
        color: var(--cWhiteV1);
      }
    }

    &>section:nth-child(3) {
      display: flex;

      justify-content: space-between;
      padding: var(--spL);

      &>div {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    &>section:nth-child(5) {
      /* background-color: antiquewhite; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: var(--spL);
    }
  }
}

.textsDiv {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  color: var(--cWhiteV1);

  &>div:nth-child(2) {
    color: var(--cWhite);
  }
}

.viewButton {
  cursor: pointer;
  border-radius: 0.375rem;
  font-weight: 600;
  color: var(--accent);
  font-size: 1rem;
}