.uploadFile {
  margin-top: var(--spS);
  margin-bottom: var(--spS);
  position: relative;

  & > p {
    color: var(--cError);
    font-size: 12px;
  }
  & label {
    position: absolute;
    top: 0;
    padding: var(--spS);
    color: var(--cPrimary);
    font-size: var(--sS);
  }
  & > div > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spXl);
    border: 1px solid var(--cWhiteV3);
    border-radius: var(--bRadiusS);
    background-color: var(--cWhiteV2);
    color: var(--cWhite);
    cursor: pointer;
    & > input[type="file"] {
      display: none;
    }
    & > div > span {
      color: var(--cWhite);
      font-size: 12px;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & > img {
        max-width: 100%;
        max-height: 100%;
        /* margin-bottom: var(--spS); */
      }
      & > svg {
        cursor: pointer;
      }
      & > p {
        color: var(--cError);
        font-size: var(--sS);
        margin-top: var(--spS);
        & > span {
          color: var(--cPrimary);
          cursor: pointer;
        }
      }
    }
  }
}

.uploadFile.v2 {
  & > div > section {
    display: inline;
    padding: 0;
    border-style: none;
    & > div > span {
      color: var(--cPrimary);
      font-size: 10px;
    }
  }
}
.error {
  color: var(--cError);
  font-size: 10px;
  margin-bottom: var(--spS);
}
.uploadFileMultiple {
  & > div > div {
    display: "relative";
    /* background-color: red; */
  }

  & > label {
    position: absolute;
    left: 8px;
    top: 0px;
    transition: all 0.3s;
    font-size: var(--sS);
    color: var(--cWhiteV1);
    /* background-color: var(--cBlack); */
    padding-left: var(--spXs);
    padding-right: var(--spXs);
  }
}
