/* iconos */
.icon {
  transition-property: transform;
  transition-duration: 300ms;
  box-sizing: border-box;
  &.button {
    cursor: pointer;
    padding: 4px;
    /* border-radius: var(--bRadiusS); */
    background-color: var(--cWhiteV2);
    &:hover {
      background-color: var(--cHoverTable);
    }
  }
  &.circle {
    border-radius: 100%;
    padding: 8px;
    width: 40px; /* Tamaño del círculo */
    height: 40px;
    /* background-color: var(--cWhite); */
    /* color: var(--cBlack); */
    /* padding: var(--spS); */
  }
  &.square {
    /* background-color: var(--cWhite); */
    /* color: var(--cBlack); */
    padding: 9px;
    border-radius: var(--bRadiusS);
  }
  &.responsive {
    width: 24px;
    height: 24px;
    @media (width > 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
