/* iconos */
.icon {
  transition-property: transform;
  transition-duration: 300ms;
  box-sizing: content-box;
  &.button {
    cursor: pointer;
    padding: var(--spS);
    border-radius: var(--bRadiusS);
    &:hover {
      background-color: var(--cBlackV3);
    }
  }
  &.circle {
    border-radius: 100%;
    background-color: var(--cWhite);
    color: var(--cBlack);
    padding: var(--spS);
  }
  &.square {
    background-color: var(--cWhite);
    color: var(--cBlack);
    padding: var(--spS);
    border-radius: var(--bRadiusS);
  }
  &.responsive {
    width: 24px;
    height: 24px;
    @media (width > 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
