/* data-search */

.dataSearch {
  padding-right: 0;
  width: 100%;
  max-width: 480px;
  height: 44px;
  padding: 16px !important;
  border-radius: 12px;
  background-color: #12151999;
  border: 1px solid #d7fff014;
  & > div > input::placeholder {
    color: #a7a7a7;
    font-size: 15px;
  }
  & > span > svg.error {
    color: var(--cError);
  }

  /* & > span:nth-child(3) {
    background-color: var(--cPrimary);
    border-radius: var(--bRadius);
    margin-top: 0px;
    margin-right: -2px;
    height: 50px;
  } */
}
