.roles {
  width: 100%;
}
.style {
  width: 100%;
}

.dashboardTitle {
  margin-bottom: var(--spL);
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spM);
  margin-bottom: var(--spL);
}
.allStatsRow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spM);
  width: 100%;
}

.widgetResumeCard {
  max-width: 267px;
  width: 100%;
}