.roles {
  width: 100%;
}
.style {
  width: 100%;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spM); /* Espacio entre título y fila de tarjetas */
  background-color: var(--cBlackV2);
  padding: var(--spL);
  border-radius: var(--bRadiusL);
  border: 0.5px solid var(--cWhiteV1);
  margin-bottom: var(--spXl);
}
.allStatsRow {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas salten de línea */
  /* NUEVO: gap controla el espacio horizontal Y vertical entre tarjetas */
  /* Ajusta este valor para aumentar/disminuir el margen general */
  gap: var(
    --spM
  ); /* Ejemplo: 16px. Puedes usar var(--spL) si quieres más espacio */
  width: 100%;
  /* align-items: stretch; */ /* Puedes descomentar si quieres que las tarjetas tengan la misma altura si su contenido varía */
}

.widgetResumeCard {
  max-width: 267px; /* o el tamaño que prefieras */
  width: 100%;
}