.formContainer2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  border-color: var(--cError) !important;
}

.error-message {
  color: var(--cError);
  font-size: 14px;
  margin-top: 4px;
}
