.assemblies {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.title {
  font-size: var(--sXxl);
  font-weight: var(--bSemibold);
  margin-bottom: var(--spL);
  color: var(--cWhite);
}

.statsRow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spM);
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;
}

.statusCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
