.assemblies {
  width: 100%;
}

.title {
  font-size: var(--sXxl);
  font-weight: var(--bSemibold);
  margin-bottom: var(--spL);
  color: var(--cWhite);
}

.statsRow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spM);
  width: 100%;
  margin-bottom: var(--spL);
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--spL);
}

.statusCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
