.renderView {
  display: flex;
  flex-direction: column;
  gap: var(--spS);
  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--spS);
    & > div {
      display: flex;
      justify-content: space-between;
      & > span:nth-child(2) {
        color: var(--cWhite);
      }
    }
  }
}
