.titularRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.departamentos {
  width: 100%;
}

.noTitular {
  display: flex;
  align-items: center;
  color: var(--cGrayV2);
  font-style: italic;
  font-size: 14px;
  padding: 4px 0;
}
.stateLabel {
  display: flex;
  align-items: center;
  color: var(--cWhite);
  gap: 8;
  padding: 8;
  border-radius: 4;
  font-size: 12;
}
