.titularRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.departamentos {
  width: 100%;
}

.noTitular {
  display: flex;
  align-items: center;
  color: var(--cGrayV2);
  font-style: italic;
  font-size: 14px;
  padding: 4px 0;
}
.stateLabel {
  display: flex;
  align-items: center;
  color: var(--cWhite);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.dashboardTitle {
  font-size: var(--sXxl);
  font-weight: var(--bSemibold);
  margin-bottom: var(--spL);
  color: var(--cWhite);
}

.allStatsRow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spM);
  width: 100%;
  margin-bottom: var(--spL);
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--spL);
}

.statusCellCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.statusBadge {
  font-weight: 400;
  padding: 6px var(--spM);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  min-width: 166px;
  min-height: 28px;
  white-space: nowrap;
}
