.container {
  display: flex;
  flex-direction: column;
  gap: var(--spL);
  padding: var(--spM);
}

.summarySection {
  border-radius: var(--bRadius);
}

.summaryHeader {
  margin-bottom: var(--spL);
}

.summaryTitle {
  font-size: var(--sXxl);
  font-weight: var(--bBold);
  color: var(--cWhite);
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 1px 1px 2px var(--cBlackV3);
}

.summaryCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spL);
}

.tabsSection {
  background-color: #d7fff005;
  border-radius: var(--bRadius);
  width: fit-content;
  margin-bottom: var(--spM);
  border: 1px solid #d7fff014;
}

.listSection {
  background: #d7fff005;
  padding: var(--spM);
  border-radius: var(--bRadius);
  border: 1px solid #d7fff014;
}
