.useCrud {
  gap: 1px;
  & > div > section {
    height: calc(100vh - 280px);
    overflow-y: auto;
    & > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      & > p {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
  & > section {
    height: calc(100vh - 280px);
    overflow-y: auto;
    & > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      & > p {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spL);
    overflow: visible;
    margin-bottom: var(--spL);
    & > div > div > div {
      margin-bottom: 0px;
    }
    & > div:first-child {
      flex-grow: 1;
      & > div {
        margin-bottom: 0px;
      }
    }
  }
  & .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--spM);
    color: var(--cWhiteV3);
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--bRadius);
      /* border: 1px solid var(--cWhiteV3); */
      /* padding: 4px;
      width: 40px;
      height: 40px; */
      overflow: hidden;
    }
    & div:first-child {
      color: var(--cWhiteV1);
    }
    & div:last-child {
      color: var(--cWhiteV1);
    }
  }
}

.listAndCard {
  display: flex;
  align-items: center;
  height: 100%;
  & > div {
    padding: 12px;
    color: var(--cWhiteV1);
    background-color: var(--cBlackV1);
    cursor: pointer;
  }
  & > div:nth-child(1) {
    border: 1px solid var(--cBlackV1);
    border-radius: 8px 0px 0px 8px;
  }
  & > div:nth-child(2) {
    border: 1px solid var(--cBlackV1);
    border-radius: 0px 8px 8px 0px;
  }
  .active {
    border: 1px solid var(--cAccent);
    background-color: var(--cHoverSuccess);
  }
}

.formDelete {
  display: flex;
  color: var(--cWhiteV1);
  font-size: var(--sM);
}

.addButton {
  /* //padding: var(--spS); */
  height: 56px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.extraButtons {
  display: flex;
  gap: var(--spM);
  align-items: center;
}