.container {
  width: 100%;
}
.description {
  color: var(--light-v3);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.title {
  font-size: var(--sXxl);
  font-weight: var(--bSemibold);
  margin-bottom: 10px;
  color: var(--cWhite);
}
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .filterContainer {
    width: 70%;
    min-width: 500px;
    margin-right: auto;
    margin-right: 0;
  }
}
.filterItem {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 177px;
  min-width: 177px;
  display: flex;
  flex-direction: column;
}
.chartTypeSelectorContainer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 98px;
  display: flex;
  flex-direction: column;
}
.filterLabel {
  font-size: 12px;
  color: #a7a7a7;
  margin-bottom: 0.25rem;
  display: block;
}
.chartTypeButtonWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #414141;
  border-radius: 0.5rem;
  overflow: hidden;
}
.chartTypeButton {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.chartTypeButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.chartTypeButton:not(:disabled):hover:not(.chartTypeButtonActive) {
  background-color: #525252;
}
.chartTypeButton.chartTypeButtonActive {
  background-color: #1f2d27;
  outline: 0.5px solid var(--cAccent, #00e38c);
  outline-offset: -2px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.relativeContainer {
  position: relative;
  width: 100%;
}
.overlayDisabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  border-radius: 0.75rem;
  cursor: not-allowed;
}
.loadingContainer {
  min-height: 600px;
  width: 100%;
  position: relative;
}
.chartContainer {
  margin-top: 1.5rem;
  width: 100%;
  background-color: var(--darkv1);
  border-radius: 0.75rem;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.exportButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.exportButton {
  width: auto;
  min-width: 100px;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.exportButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.exportButton:active {
  transform: translateY(0);
}
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--light-v3);
  opacity: 0.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .filterContainer {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    align-items: stretch;
  }
  .filterItem,
  .chartTypeSelectorContainer {
    width: 100%;
    flex-basis: auto;
  }
  .exportButton {
    width: 100%;
  }
  .legendAndExportWrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .legendContainer {
    justify-content: center;
    width: 100%;
  }
  .exportButtonCustom {
    align-self: center;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
.chartSectionTitle {
  color: var(--cWhiteV1);
  margin-bottom: 1rem;
}
.chartActionsHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.75rem;
  min-height: 30px;
}
.exportButtonAsIcon {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6rem;
  border-radius: 0.375rem;
  cursor: pointer;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  min-width: auto;
  width: auto;
  color: var(--cWhiteV1, #a7a7a7);
}
.exportButtonAsIcon:hover {
  background-color: var(--cBlackV2, #333536);
}
.exportButtonAsIcon svg {
  fill: currentColor;
}
.exportButtonAsIcon:hover svg {
  fill: var(--cWhite, #fafafa);
}
.legendAndExportWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}
.legendContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 1rem;
}
.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.legendColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.legendItem span {
  color: var(--cWhiteV1, #a7a7a7);
  font-size: var(--sLg); /* 14px */
  font-family: Roboto;
}
.exportButtonCustom {
  background-color: transparent;
  border: 1px solid var(--cBorderTransparent, #444);
  color: var(--cWhiteV1, #a7a7a7);
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;
  margin-left: 1rem;
  flex-shrink: 0;
}
.exportButtonCustom:hover {
  background-color: var(--cBlackV2, #333536);
  border-color: var(--cWhiteV2, #555);
  color: var(--cWhite, #fafafa);
}
.exportButtonCustom svg {
  fill: currentColor;
}
.legendItem .legendAmount {
  color: var(--cWhite, #fff) !important;
  font-family: Roboto;
  margin-left: 0.25em;
}
