.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.currentStatus {
  font-size: 14px;
  font-weight: 600;
  color: var(--cWhiteV1);
}

.actions {
  display: flex;
  gap: 8px;
}
