.container {
    padding: 20px;
    width: 100%;
  }
  
  .title {
    font-size: var(--sXxl);
    font-weight: var(--bSemibold);
    margin-bottom: 5px;
    color: var(--cWhite);
  }
  
  .subtitle {
    color: var(--cWhiteV1);
    font-size: var(--sM);
    margin-bottom: 20px;
  }
  
  .widgetsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--spL);
    margin-bottom: var(--spL);
  }
  
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spL);
  }
  
  .exportButton {
    background-color: var(--cBlackV2);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: var(--spS);
    border-radius: var(--bRadiusS);
    cursor: pointer;
  }
  
  /* Media queries para dispositivos móviles */
  @media (max-width: 768px) {
    .widgetsContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  