.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cHoverModal);
  background-color: var(--cHoverModal);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  background: var(--cBackground);
  border: 1px solid var(--cBorder);
  border-radius: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  max-width: 100%;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.closeButton {
  position: absolute !important;
  top: -10px !important;
  right: -10px !important;
  color: var(--cWhite) !important;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: var(--cBackground-foreground);
  border: 1px solid var(--cBorder);
  border-radius: 999px;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  opacity: 0.8;
}
