.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--spS);
  padding: 0 var(--spM);
}
.avatarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > div {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
}
.widgetContentsResume {
  overflow-y: auto;
  height: 966px;
}

.descriptionArea {
  margin-top: var(--spL);
  display: flex;
  flex-direction: column;
  gap: var(--spL);
  width: 100%;
  & > div:nth-child(2) {
    & > img {
      width: 100%;
      @media screen and (max-width: 768px) {
        object-fit: contain;
      }
    }
  }
  & > div:nth-child(4) {
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--cWhiteV1);
    justify-content: flex-start;
  }
}

.textSecond {
  color: var(--cWhiteV1);
  font-size: var(--sS);
}
