
.container {
  /* padding: 0px var(--spXl); */

  @media (max-width: 1024px) {
    padding-bottom: 15%;
  }
  & > section {
    width: 100%;
    gap: var(--spS);
    margin-bottom: var(--spS);
    @media (min-width: 1195px) {
      display: flex;
      /* flex-wrap: wrap; */
    }
    & > div {
      width: 100%;
      margin-bottom: var(--spS);
      @media (min-width: 1024px) {
        /* width: 50%; */
      }
    }
  }
}
.bar {
  background-color: aquamarine;
  border-radius: 5px;
  & > div > div {
    background-color: beige;
  }
}


.widgetBase {
  background-color: var(--cBlackV2) !important;
}
.widgetsContainer{
  display: flex;
  flex-direction: column;
  gap: var(--spS);
}
.widgetsResumeContainer{
  display: flex;
  gap: 8px;
  
  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.widgetResumeCard{
   width: 200px;
   @media (max-width: 768px) {
    width: 100%;
   }
}
.widgetAlerts {
  background-color: var(--cBlackV2);
  padding: var(--spL);
  border-radius: var(--bRadiusS);
  display: flex;
  flex-direction: column;
  gap: var(--spS);
  & > div:nth-child(1) {
  /* background-color: green; */
  font-size: var(--spL);
  }
}
.alertsList {
 
 display: flex;
 flex-direction: column;
 gap: 16px;
 
  & > section {
    /* background-color: blueviolet;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spS);
    & > div {
      color: var(--cWhite) !important;  
      font-size: var(--sM);
      display: flex;
  
      
    }
    & > div:nth-child(1){
      display: flex;
      flex-direction: column;
      gap: 4px;

    }
    & > div:nth-child(1) > div:nth-child(3){
      color: var(--cWhiteV1) !important;
      font-size: var(--sS);
    }
  }
}


.levelText {
  font-size: var(--sM); 
  padding: var(--spL);
  border-radius: var(--bRadiusS);
  width:112px;
}


.levelLow {
  background-color:var(--cBigSidebar);
  color: var(--accentColor); 
}

.levelMedium {
  background-color: var(--cMediumAlertHover); 
  color: var(--mediumAlert); 
}

.levelHigh {
  background-color: var(--cHightAlertHover); 
  color: var(--hightAlert); }
