.Config{
   & > div:nth-child(1){
    width: 400px;
   }
}

.textTitle {
color: var(--cWhite);
font-size: var(--sL);

}
.textSubtitle {
  color: var(--cWhiteV2);
  font-size: var(--sM);
}

.marginY{
    margin-top: var(--spL);
    margin-bottom: var(--spL);
}