.Expenses {
    
}
/* Estilo general para los badges de estado */
.statusBadge {
    font-weight: var(--bMedium);
    padding: 6px var(--spM);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    min-width: 110px;
    white-space: nowrap;
  }
  
  /* Estilos específicos para cada estado */
  .statusDefault {
    background-color: rgba(0, 123, 255, 0.2);
    color: var(--info);
  }
  
  .statusMora {
    background-color: var(--cHoverError);
    color: var(--cError);
  }