.income-form-container {
  color: var(--cWhite);
  font-family: var(--fPrimary);
}

.form-title {
  color: var(--cWhiteV1);
  font-size: var(--sL);
  font-weight: var(--bMedium);
  margin-bottom: 20px;
}

.section {
  margin-top: var(--spM);
}

.section-title {
  color: var(--cWhite);
  font-size: var(--sL);
  font-weight: var(--bMedium);
  margin-bottom: var(--spM);
}

.payment-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spM);
}

.amount-input {
  width: 315px;
}

.payment-type {
  width: 331px;
}

.upload-section {
  margin-top: var(--spM);
}

.file-upload-area {
  margin-top: var(--spS);
  display: flex;
  justify-content: center;
  border-radius: var(--bRadiusS);
  border: 1px dashed rgba(255, 255, 255, 0.25);
  padding: var(--spXl);
}

.file-upload-area.dragging {
  border-color: var(--cInfo);
}

.file-upload-area.error {
  border-color: var(--cError);
}

.hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.upload-instructions {
  text-align: center;
  color: var(--cWhiteV1);
}

.upload-text {
  margin-top: var(--spL);
  display: flex;
  font-size: var(--sM);
  line-height: 1.5;
  color: var(--cWhiteV2);
}

.upload-link {
  cursor: pointer;
  border-radius: 6px;
  font-weight: var(--bSemibold);
  color: var(--cPrimary);
}

.upload-alternative {
  padding-left: var(--spXs);
  color: var(--cWhiteV1);
}

.file-types {
  font-size: var(--sS);
  line-height: 1.25;
}

.file-preview {
  margin-top: var(--spS);
}

.file-preview-content {
  margin-top: var(--spS);
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-thumbnail {
  max-width: 80px;
  max-height: 80px;
}

.file-info {
  padding-left: var(--spL);
}

.file-name {
  font-size: var(--sS);
  color: var(--cWhiteV1);
}

.file-name span {
  color: var(--cWhite);
}

.edit-file-button {
  color: var(--cPrimary);
}

.voucher-section {
  margin-top: var(--spM);
}

.voucher-input {
  margin-top: var(--spM);
}

.obs-section {
  margin-top: var(--spM);
}

.obs-input {
  margin-top: var(--spM);
}

.input-row {
  display: flex;
  gap: var(--spM);
  width: 100%;

}

.input-half {
  gap: var(--spM);
  flex: 1;
}

.divider {
  height: 1px;
  background-color: var(--cWhiteV1);
  width: 100%;
  margin: var(--spS) 0;
}

.no-deudas-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-deudas-message {
  text-align: center;
  color: #e53935;
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  padding: 10px;
  background-color: rgba(229, 57, 53, 0.1);
  border-radius: 4px;
  width: 100%;
}

.deudas-container {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
}

.deudas-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.deudas-title {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  color: var(--cWhite);
}

.select-all-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.select-all-text {
  color: var(--cWhite);
  font-size: 0.9rem;
}

.check-icon {
  color: var(--cWhiteV1, #a7a7a7);
  width: 18px;
  height: 18px;
}

.check-icon.selected {
  color: var(--cAccent, #00e38c);
}

.deudas-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid var(--cWhiteV2, #a7a7a7);
  border-radius: var(--bRadiusL, 1rem);
  overflow: hidden;
}

.deudas-header,
.deuda-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.deudas-header {
  background-color: var(--cBlackV2, #333536);
  color: var(--cWhite, #fbfbfb);
  font-weight: 600;
  font-size: 16px;
}

.header-item {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 1rem;
  border-bottom: 0.5px solid var(--cWhiteV2, #a7a7a7);
  text-align: left;
}



.header-item:last-child {
  justify-content: center;
  text-align: center;
}

.deuda-item {
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.deuda-item:nth-child(odd) .deuda-row {
  background-color: var(--cBlackV2, #414141);
  color: var(--cWhiteV1, #a7a7a7);
}

.deuda-item:nth-child(even) .deuda-row {
  background-color: var(--cWhiteV2, #fbfbfb);
  color: var(--cWhiteV1, #333536);
}

.deuda-item:not(:last-child) .deuda-row {
  border-bottom: 0.5px solid var(--cWhiteV2, #a7a7a7);
}

.deuda-row {
  align-items: center;
}

.deuda-cell {
  display: flex;
  align-items: center;
  height: 63px;
  padding: 0 1rem;
  text-align: left;
  box-sizing: border-box;
}
.deuda-item:nth-child(odd) .deuda-cell {
  color: var(--cWhiteV1, #a7a7a7);
}
.deuda-item:nth-child(even) .deuda-cell {
  color: var(--cWhiteV1, #fbfbfb);
}



.deuda-cell:nth-child(4) {
  font-weight: 500;
}
.deuda-item:nth-child(odd) .deuda-cell:nth-child(4) {
  color: var(--cWhiteV1, #fbfbfb);
}
.deuda-item:nth-child(even) .deuda-cell:nth-child(4) {
  color: var(--cWhiteV1, #fbfbfb);
}


.deuda-check {
  justify-content: center;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  color: var(--cWhite);
  padding: var(--spM) 0;
  font-weight: var(--bMedium);
  font-size: 1rem;
}

.error-message {
  color: var(--cError);
  font-size: var(--sM);
  margin-top: var(--spS);
  text-align: right;
}

.amount-input-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
