.radio {
  flex-grow: 1;
  margin-right: 1rem;
  & > div {
    display: flex;
    gap: 8px;
    background-color: var(--cWhiteV2);
    padding: 14px 8px;
    border-radius: 8px;
    & > div {
      & > p:nth-child(odd) {
        font-size: 16px;
        font-weight: 600;
        color: var(--cWhiteV1);
      }
      & > p:nth-child(even) {
        font-size: 14px;
        font-weight: 300;
        color: var(--cWhiteV1);
      }
    }
  }
}
